---
type Props = AboutHeroSection;

import { Image } from "astro:assets";
import { urlForImage } from "../../lib/urlForImage";
import type { AboutHeroSection } from "../../../sanity.types";

const { text, image } = Astro.props;
---

<section>
  <h2>{text}</h2>
</section>
