---
type Props = AboutHeroSection;

import type { AboutHeroSection } from "../../../sanity.types";
import Hero from "../Hero.astro";

const { text, image } = Astro.props;
---

<section>
  <Hero text={text} image={image} />
</section>
