---
type Props = AboutMissionSection;

import type { AboutMissionSection } from "../../../sanity.types";
import Paragraphs from "../Paragraphs.astro";
import DynamicImage from "../DynamicImage.astro";

const { text, image, title } = Astro.props;
---

<section>
  <div class="content-wrapper">
    <div class="text-wrapper">
      <h3>{title}</h3>
      <div class="mobile-only">
        <DynamicImage className="section-img" image={image} />
      </div>
      <Paragraphs paragraphs={text} />
    </div>
    <div class="desktop-only">
      <DynamicImage className="section-img" image={image} />
    </div>
  </div>
</section>

<style>
  .content-wrapper {
    display: flex;
    align-items: center;
    max-width: var(--section-max-width);
    margin: 0 auto;
    gap: 5rem;
  }
  .text-wrapper {
    gap: var(--paragraph-gap);
    display: flex;
    flex-direction: column;
    max-width: 50%;
  }

  .desktop-only {
    display: block;
    max-width: 50%;
  }
  .desktop-only img {
    width: 100% !important;
  }
  .mobile-only {
    display: none;
  }
  @media only screen and (max-width: 1200px) {
    .content-wrapper {
      flex-direction: column-reverse;
      align-items: flex-start;
      gap: 3rem;
    }

    .desktop-only {
      display: none;
      max-width: unset !important;
    }
    .mobile-only {
      display: block;
    }
    .text-wrapper {
      max-width: unset;
    }
  }
</style>
