---
type Props = HomeAboutSection;

import { Image } from "astro:assets";
import { urlForImage } from "../../lib/urlForImage";
import ActionButtons from "../ActionButtons.astro";
import Paragraphs from "../Paragraphs.astro";
import type { HomeAboutSection } from "../../../sanity.types";
import DynamicImage from "../DynamicImage.astro";

const { text, actionButtons, image, title } = Astro.props;
---

<section>
  <div class="content-wrapper">
    <div class="image-wrapper">
      <DynamicImage image={image} className="about-img" />
    </div>
    <div class="text-wrapper">
      <h3>{title}</h3>
      <Paragraphs paragraphs={text} />
      <ActionButtons actionButtons={actionButtons} />
    </div>
  </div>
</section>

<style>
  .content-wrapper {
    display: flex;
    max-width: var(--section-max-width);
    margin: 0 auto;
    gap: 5rem;
  }
  .text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    gap: 2rem;
  }
  .image-wrapper {
    width: 50%;
  }
</style>
