---
type Props = HomeHeroSection;

import { Image } from "astro:assets";
import { urlForImage } from "../../lib/urlForImage";
import ActionButtons from "../ActionButtons.astro";
import type { HomeHeroSection } from "../../../sanity.types";
import DynamicImage from "../DynamicImage.astro";
import { getImageDimensions } from "../../lib/getImageDimensions";

const { text, actionButtons, image } = Astro.props;
---

<section>
  <DynamicImage className="hero-image" image={image} />

  <div class="content-wrapper">
    <!-- <DynamicImage className="logo" image={logo} /> -->
    <p>{text}</p>
    <ActionButtons actionButtons={actionButtons} />
  </div>
</section>

<style>
  section {
    padding-top: var(--nav-height);
    position: relative;
    min-height: var(--hero-height);
  }
  p {
    color: var(--text-color-invert);
    font-size: 2.5rem;
    line-height: 200%;
    margin-bottom: 2rem;
  }

  .content-wrapper {
    max-width: var(--section-max-width);
    margin: 0 auto;
    padding-top: 10rem;
  }
  @media only screen and (max-width: 1200px) {
    p {
      font-size: calc(1.5 * var(--font-size-text));
    }
  }

  @media only screen and (max-width: 485px) {
    section {
      min-height: 60vh;
      min-height: 60dvh;
    }
    p {
      font-size: calc(0.7 * var(--font-size-text));
    }
  }
</style>
