---
type Props = HomeHeroSection;

import { Image } from "astro:assets";
import { urlForImage } from "../../lib/urlForImage";
import ActionButtons from "../ActionButtons.astro";
import type { HomeHeroSection } from "../../../sanity.types";
import DynamicImage from "../DynamicImage.astro";
import { getImageDimensions } from "../../lib/getImageDimensions";

const { text, logo, actionButtons, image } = Astro.props;
---

<section>
  <DynamicImage className="hero-image" image={image} />
  <div class="content-align">
    <div class="content-wrapper">
      <DynamicImage className="logo" image={logo} />
      <p>{text}</p>
      <ActionButtons actionButtons={actionButtons} />
    </div>
  </div>
</section>

<style>
  section {
    padding-top: 0;
    position: relative;
    height: var(--hero-height);
  }
  p {
    color: var(--text-color-invert);
    font-size: var(--hero-font-size);
    line-height: var(--hero-font-interline);
    margin-bottom: 3rem;
  }

  .content-wrapper {
    /* position: absolute; */
    z-index: 2;
    max-width: var(--hero-width);
    left: calc(var(--hero-width) / 4);
  }
  .content-align {
    max-width: var(--section-max-width);
    margin: 0 auto;
  }

  @media only screen and (max-width: 1200px) {
    section {
      height: unset !important;
    }
  }
  @media only screen and (max-width: 485px) {
    p {
      font-size: calc(0.7 * var(--hero-font-size));
    }
  }
</style>
