---
type Props = HomeOffersSection;

import type { HomeOffersSection } from "../../../sanity.types";
import { fetchMainOffers } from "../../api/homePage/fetchMainOffers/query";
import Cards from "../Cards.astro";

const { title, actionButtons } = Astro.props;

const offers = await fetchMainOffers();
---

<section>
  <h3>{title}</h3>
  <Cards cards={offers} />
  <div class="action-buttons-wrapper">
    {
      actionButtons.map((button) => {
        const btn = button;
        return (
          <a class=" button-elevated button-elevated-inverted" href={btn.href}>
            {btn.text}
          </a>
        );
      })
    }
  </div>

  <style>
    section {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5rem;
      padding: calc(1.25 * var(--section-padding)) var(--section-spacing);
      clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
      background: var(--primary-color);
      background: -webkit-linear-gradient(25deg, var(--primary-color-a) 0%, var(--primary-color-light) 100%);
      background: -moz-linear-gradient(25deg, var(--primary-color-a) 0%, var(--primary-color-light) 100%);
      background: linear-gradient(25deg, var(--primary-color-a) 0%, var(--primary-color-light) 100%);
    }

    h3 {
      text-align: center;
      color: var(--text-color-invert);
    }

    .button-elevated-inverted {
      background-color: var(--background-color);
      color: var(--text-color);
      font-weight: bold;
      transition: 0.2s ease transform;
    }
    .button-elevated-inverted:hover {
      transform: translateY(-4px);
    }

    @media only screen and (max-width: 768px) {
      section {
        padding: calc(1 * var(--section-padding)) calc(0.5 * var(--section-spacing));
        clip-path: polygon(0 5%, 100% 0, 100% 95%, 0% 100%);
      }
    }
    @media only screen and (max-width: 485px) {
      section {
        padding: calc(0.75 * var(--section-padding)) calc(0.25 * var(--section-spacing));
        clip-path: polygon(0 3%, 100% 0, 100% 97%, 0% 100%);
        margin-top: 1px;
        margin-bottom: 2rem;
      }
    }
  </style>
</section>
