---
import type { HomePraiseSection } from "../../../sanity.types";

type Props = HomePraiseSection;

const { text } = Astro.props;
---

<section>
  <div class="praise-wrapper">
    <h2>{text}</h2>
  </div>
</section>

<style>
  section {
    position: relative;
    padding-bottom: 0;
  }
  .praise-wrapper {
    position: absolute;
    z-index: 2;
    top: -35px;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: fit-content;
    border-radius: 1rem;
    padding: 4rem;
    background-color: var(--primary-color);
    -webkit-box-shadow: 0px 10px 20px 4px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 10px 20px 4px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 10px 20px 4px rgba(0, 0, 0, 0.35);
  }
  h2 {
    color: var(--text-color-invert);
    font-weight: bold;
    white-space: nowrap;
  }

  @media only screen and (max-width: 768px) {
    .praise-wrapper {
      display: block;
      position: static;
      top: 0;
      left: 0;
      transform: none;
      max-width: none;
      width: 96%;
      margin: 0 auto;
      padding: 3rem;
    }
    .praise-wrapper h2 {
      text-align: center;
      white-space: wrap;
      line-height: 120%;
    }
    section {
      padding: 0%;
    }
  }
  @media only screen and (max-width: 485px) {
    .praise-wrapper {
      margin: 1rem auto;
      padding: 2rem;
    }
  }
</style>
