---
type Props = ContactMapSection;

import type { ContactMapSection } from "../../../sanity.types";
import Paragraphs from "../Paragraphs.astro";

const { text, title } = Astro.props;
---

<section>
  <div class="content-wrapper">
    <div class="map-wrapper desktop-only">
      <iframe
        src="https://storage.googleapis.com/maps-solutions-q8r604mr5s/locator-plus/y0tn/locator-plus.html"
        width="100%"
        height="500px"
        style="border:0;"
        loading="lazy"
      >
      </iframe>
    </div>

    <div style="flex:1">
      <h3>{title}</h3>
      <div class="map-wrapper mobile-only">
        <iframe
          src="https://storage.googleapis.com/maps-solutions-q8r604mr5s/locator-plus/y0tn/locator-plus.html"
          width="100%"
          height="500px"
          style="border:0;"
          loading="lazy"
        >
        </iframe>
      </div>
      <Paragraphs className="mapText" paragraphs={text} />
    </div>
  </div>
</section>

<style>
  section {
    padding: calc(1.25 * var(--section-padding)) var(--section-spacing);
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
    background: var(--primary-color);
    background: -webkit-linear-gradient(
      25deg,
      var(--primary-color-a) 0%,
      var(--primary-color-light) 100%
    );
    background: -moz-linear-gradient(
      25deg,
      var(--primary-color-a) 0%,
      var(--primary-color-light) 100%
    );
    background: linear-gradient(
      25deg,
      var(--primary-color-a) 0%,
      var(--primary-color-light) 100%
    );
  }
  h3 {
    color: var(--text-color-invert);
    padding-bottom: var(--paragraph-gap);
  }
  .content-wrapper {
    display: flex;
    align-items: center;
    gap: 5rem;
  }
  .map-wrapper {
    font-size: 5rem; /* TYMCZASOWE */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--section-img-border-radius);
    flex: 1;
    background-color: rgb(226, 226, 226);
    min-height: 500px;
    overflow: hidden;
  }
  .desktop-only {
    display: flex;
  }
  .mobile-only {
    display: none;
  }
  @media only screen and (max-width: 1200px) {
    .content-wrapper {
      flex-direction: column;
    }
    .map-wrapper {
      width: 100%;
      margin-bottom: 2rem;
    }
    .desktop-only {
      display: none;
    }
    .mobile-only {
      display: flex;
    }
  }
  @media only screen and (max-width: 768px) {
    section {
      padding: calc(1 * var(--section-padding))
        calc(0.5 * var(--section-spacing));
      clip-path: polygon(0 5%, 100% 0, 100% 95%, 0% 100%);
    }
    .map-wrapper {
      font-size: 2rem;
      width: 100%;
    }
  }
  @media only screen and (max-width: 485px) {
    section {
      padding: calc(0.75 * var(--section-padding))
        calc(0.25 * var(--section-spacing));
      clip-path: polygon(0 3%, 100% 0, 100% 97%, 0% 100%);
      margin-top: 1px;
      margin-bottom: 2rem;
    }
    .map-wrapper {
      min-height: 300px;
    }
  }
</style>
