---
import type { ActionButton } from "../../sanity.types";

interface Props {
  actionButtons: ActionButton[];
}

const { actionButtons } = Astro.props;
---

<div class="action-buttons-wrapper">
  {
    actionButtons.map((button) => {
      const btn = button;
      return (
        <a class="button-elevated" href={btn.href} data-prefetch="low">
          {btn.text}
        </a>
      );
    })
  }
</div>

<style>
  a {
    transition: 0.2s ease transform;
  }
  a:hover {
    transform: translateY(-4px);
  }
</style>
