---
import type { CustomImage } from "../../sanity.types";
import DynamicImage from "./DynamicImage.astro";

interface Props {
  image: CustomImage;
}

const { image } = Astro.props;
---

<div class="content-wrapper">
  <DynamicImage className="section-hero-image" image={image} />
  <slot />
</div>

<style>
  .content-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--hero-height);
  }
</style>
