---
interface Props {
  path: string;
  reversed: boolean;
}

const { path, reversed = false } = Astro.props;

const style = reversed ? "flex-direction: row-reverse;" : "";
---

<div class="icon-wrapper" style={style}>
  <img class="icon" src={path} alt="Icon" />
  <slot />
</div>
