---
import type { CustomImage } from "../../sanity.types";
import DynamicImage from "./DynamicImage.astro";

interface Props {
  image: CustomImage;
  reversed: boolean;
}

const { image, reversed = false } = Astro.props;

const style = reversed ? "flex-direction: row-reverse;" : "";
---

<div class="icon-wrapper" style={style}>
  <div class="icon">
    <DynamicImage className="image-icon-text" image={image} />
  </div>
  <slot />
</div>
