---
interface Props {
  paragraphs: string[];
  className?: string;
}

const { paragraphs, className = "" } = Astro.props;
---

<div class="paragraph-wrapper">
  {
    paragraphs.map((paragraph: string) => {
      return <p class={className}>{paragraph}</p>;
    })
  }
</div>

<style>
  p {
    line-height: var(--section-paragraph-interline);
  }
  .scaleFont {
    font-size: calc(1.8 * var(--font-size-text));
    text-align: center;
  }
  .mapText {
    color: var(--text-color-invert);
    line-height: 200%;
  }
  @media only screen and (max-width: 1200px) {
    .scaleFont {
      font-size: calc(0.8 * var(--font-size-h4));
    }
  }
  @media only screen and (max-width: 768px) {
    .scaleFont {
      font-size: calc(0.75 * var(--font-size-h4));
    }
  }
</style>
