---
import NavigationBar from "../components/NavigationBar.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="pl">
  
  <body>
    <h1>BAUSTOF</h1>
    <NavigationBar />
    <main>
      <slot />
      <Footer />
    </main>
  </body>
</html>
